section.services {
    background-color: var(--primary);
    color: var(--text-white);
    padding-top: 120px;
    padding-bottom: 90px;

    #services__contentContainer {
        display: flex;
        flex-direction: column;

        @media (max-width: 996px) {
            #services__contentContainerHeader {
                display: block !important;

                #content__titles {
                    width: 100% !important;
                }

                #content__exploreLink {
                    margin-top: 1em;
                    margin-left: 0 !important;
                    justify-content: flex-start !important;
                }
            }
        }

        #services__contentContainerHeader {
            display: flex;
            margin-bottom: 60px;

            #content__titles {
                width: 66.666667%;
                display: flex;
                flex-direction: column;

                h3 {
                    font-weight: 600;
                    font-size: 1.125rem;
                    line-height: 1.75rem;
                    margin-bottom: .5rem;
                }

                h1 {
                    font-size: 40px;
                }
            }

            #content__exploreLink {
                width: 33.333333%;
                align-items: center;
                display: flex;
                font-weight: bold;
                font-size: 1.125rem;
                line-height: 1.75rem;
                margin-left: auto;
                justify-content: flex-end;

                a {
                    color: var(--text-white);
                    text-underline-offset: 0.2em;
                    text-decoration-thickness: 0.15rem;
                }
            }
        }

        #services__contentContainerBody {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            gap: 2em;
            flex-wrap: wrap;
            justify-content: center;
            margin-left: -1rem;
            margin-right: -1rem;

            .content__cardContainer {
                display: block;
                padding-inline: 1rem;
                margin-inline: -1rem;

                .card {
                    width: 100%;
                    height: 100%;
                    background-color: var(--white);
                    color: var(--text-black);
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 2.5rem;

                    img {
                        width: 100%;
                        height: 50%;
                        object-fit: cover;
                    }

                    .content__containerCardBody {
                        display: flex;
                        flex-direction: column;
                        gap: 1em;
                        padding: 2.75rem;

                        h3 {
                            width: max-content;
                            font-weight: 700;
                            font-size: 1.25rem;
                            line-height: 1.75rem;
                        }

                        p {
                            line-height: 1.625;
                            font-size: 1rem;
                            padding-bottom: 1.75rem;
                        }

                        a {
                            color: var(--text-black);
                            font-family: inter,
                                sans-serif;
                            text-underline-offset: 0.2em;
                            text-decoration-thickness: 0.1rem;
                        }

                        a:hover {
                            color: var(--secondary);
                        }
                    }
                }
            }

        }
    }
}