@font-face {
    font-family: "Inter";
    src: url("assets/fonts/Inter-VariableFont_slnt\,wght.ttf") format("truetype");
}

@font-face {
    font-family: "Blanka-Regular";
    src: url("assets/fonts/Blanka-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Azonix";
    src: url("assets/fonts/Azonix.ttf") format("truetype");
}

@font-face {
    font-family: "Deserta";
    src: url("assets/fonts/Deserta.ttf") format("truetype");
}